
body{
    text-align: center;   

    } 
    
a {
    text-decoration: none;
    color: blue;
    }

a:hover {
    text-decoration: none;
    color: red;
}

.text{
    margin-top: 10px;
}


.input-group {
    width: 650px;
    }
        
.nav-item {
    padding: 3px;
    }

.container-fluid {
    margin-top: 20px;
    }

input {
    text-align: center;
    }

::-webkit-input-placeholder {
    text-align: center;
    }
  
:-moz-placeholder {
    text-align: center;
    }

.container2 {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background: rgb(32, 37, 41);
    padding: 12px;
    align-self: center;
    border-radius: 20px;

    color: white;

    border-radius: 8px;
    margin-bottom: 20px;
    }

section {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    }
.form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    }
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
    }

textarea {
    resize: vertical;
    }

button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    background-color: rgb(88, 25, 25);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s ease background-color;
    }

button[type="submit"]:hover {
    background-color: rgb(21, 23, 151);
    }

.form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    }

.knapp {          
    text-decoration: none;
    }

.knapp1 {          
    width: 300px;
    height: 340px;
    font-family: "Montserrat";  
    padding:25px;
    color: rgb(255, 255, 255);
    background-color: rgba(39, 46, 51, 0.87);
    border-radius: 20px;

display:inline-block;
cursor:pointer;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;

text-decoration:none;
font-size: 24px;
transition: 0.5s ease background-color;
}

.knapp1:hover {
background-color: rgb(0, 4, 255);
color: white;
}


*{
    font-family: 'Poppins', sans-serif;
        -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}


img {
        -webkit-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
}


.movie_card{
    padding: 0 !important;
    width: 15rem;
    margin:14px; 
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
.movie_card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 20rem;
}
.movie_info{
    color: #5e5c5c;
}

.movie_info i{
    font-size: 20px;
}
.card-title{
    width: 80%;
   
}





*{
    font-family: 'Poppins', sans-serif;
        -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.filter {
    margin-top: 10px;
    text-align: center;
    }

.movie-card:hover {
    background-color: rgb(21, 23, 151)  ;
    
    }


.movie-card img{
    max-width: 100%;
    }

    /*
@media screen and (max-width: 600px) {
    .movie-card{
        width: 40%;
        margin: 5px;
    }
*/


.panel a{
    color: blue;
}


.actors{
    display: flex;
    flex-flow: row wrap;
}


.btn-dark{
    background-color: black;
}

.btn-primary{
    background-color: #060628;
}