<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="https://image.tmdb.org/t/p/w500/{{data['poster_path']}}" class="movie-poster" alt="{{data['title']}}">
    <br> {{data['overview']}}
    {% for network in network_data.streamingInfo %}
    <h1>{{network}}</h1>
    <a href="{{network_data.streamingInfo[network]['us']['link']}}">länk här</a>
    {% endfor %}    
</body>
</html>